body{
    font-family: 'PT sans',sans-serif;
    background-color: #f4782b;
    margin: 0;
    /* padding: 0; */
    color: #fff;
    line-height:1.6;
}

a{
    text-decoration: none;
    color: #ccc;
}

#showcase{
    margin:0;
    /* padding: 0; */
    background: url('item1.webp') no-repeat center/cover;
    width: 100%;
    height: 50%;
    position: relative;
    padding-bottom: 10px;
}

#showcase  .container{
    margin-top: 60vh;
}

#showcase h1 {
    font-size: 4rem;
    /* margin-bottom: 50px; */
}


#showcase h2{
    font-size: 2rem;
}

 nav{
    height: 40px;
    width: 100%;
    background-color: #cf3409;
    color: rgb(51,34,34); 
    position: inherit;
    /* position: fixed;  */
}

nav ul{
    padding: 0;
    margin: 0;
} 

nav li{
    display: inline;
    float: left;
} 

 nav a{
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
} 

nav li:hover{
    background-color: #444;
}


.container{
    max-width: 1100px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
} 

.lead{
    font-size: 1.3rem;
}


 footer .footer-cols{
    display: grid;
    grid-gap:20px ;
    grid-template-columns: repeat(4,1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}

footer .footer-cols ul{
    list-style-type: none;    
}

footer .footer-cols ul li:first-child{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: #565559 solid 1px;
    margin: bottom 1rem; 
}

footer .footer-bottom{
    background-color: #fa2c0d;
    padding: 1rem;
    text-align: center;
}


.align {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.iDzUMo {
    text-decoration: none;
    margin-right: 0.8rem;
}

.HEzmM {
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 18.3333%;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.fvpjYk {
    font-size: 1.0rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px 0px 0.5rem;
}




._3tAmb {
    padding: 0 20px;
    height: 570px;
    overflow: hidden;
    background-color: #f18745;
}
._221uw {
    font-size: 40px;
    font-weight: 600;
    width: 300px;
    line-height: 1;
    letter-spacing: -.45px;
}
._1C4_O {
    font-size: 20px;
    width: 400px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #7e808c;
    line-height: 1.2;
}
._3QGpR {
    top: 0;
    right: 300px;
}
._2SJnz, ._3QGpR {
    position: absolute;
}
._2SJnz, ._3QGpR {
    position: absolute;
}
._2SJnz {
    bottom: 0;
    right: -45px;
}
img {
    border-style: none;
}
._2ZpEk {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}
